/* ==========================================================================
*  Project:   SoundwaveTheme Theme Styles
*  Copyright: @2013 The Code Boutique, LLC.
*  ==========================================================================
*/

.sw-login-icon {
    margin-top: 22px;
    height: 50px;
    width: 270px;
    float: left;
}

.sw-login-submit-button {
    float: right;
    margin-left: 10px;
    margin-right: 75px;
    margin-top: 2px;
}

.sw-login-registration-button {
    float: right;
    margin-right: 10px;
    margin-top: 16px;
}

.sw-login-username-input {
    margin-left: 71px;
    margin-top: 1px;
    float: left;
}

.sw-login-password-input {
    margin-left: 10px;
    margin-top: 1px;
    float: left;
}

.sw-login-register-view {
    float: right;
    margin-top: 15px;
}

.sw-login-app-icon {
    margin-left: 10px;
    margin-top: 28px;
    width: 47px;
    height: 46px;
    float: left;
}

.sw-login-facebook-button {
    float: left;
    margin-top: 16px;
    margin-left: 303px;
}

.sw-login-registration-text {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    color: #969595;
}

.sc-view.sw-login-register-view {
    border-radius: 6px;
    border: solid;
    border-width: 1px;
    border-color: #e7e7e7;
    background: rgb(242,241,241); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,241,241,1) 6%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,rgba(242,241,241,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,241,241,1) 6%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,241,241,1) 6%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,241,241,1) 6%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(242,241,241,1) 6%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f1f1', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.sc-label-view.sw-login-text {
    font-size: 72px;
    color: #969595;
    margin-bottom: 8px;
    float: right;
}