/* ==========================================================================
*  Project:   SoundwaveTheme Theme Styles
*  Copyright: @2013 The Code Boutique, LLC.
*  ==========================================================================
*/

.safari .sc-text-field-view .border {
    -webkit-appearance: none !important; 
    outline-offset: 0px !important;
}
 
.webkit .sc-text-field-view .border {
    -webkit-appearance: none !important; 
    outline-offset: 0px !important;
}

.sc-text-field-view.focus {
    -webkit-appearance: none !important; 
    outline-offset: 0px !important;
}

.sc-button-label {
    cursor:pointer;
}

.sc-text-field-view input {
    left: -4px;
    width: 102%;
    padding-left: 3px;
    font-size: 12px;
    color: #474747;
    top: -1px;
}

.sc-text-field-view .hint {
    color: #949494;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}