/* ==========================================================================
*  Project:   SoundwaveTheme Theme Styles
*  Copyright: @2013 The Code Boutique, LLC.
*  ==========================================================================
*/

.sc-label-view.sw-profile-text  {
    font-size: 72px;
    color: #969595;
    margin-bottom: 8px;
}