/* ==========================================================================
*  Project:   SoundwaveTheme Theme Styles
*  Copyright: @2013 The Code Boutique, LLC.
*  ==========================================================================
*/

.sc-view.sw-registration-base-view {
    border-radius: 6px;
    border: solid;
    border-width: 1px;
    border-color: #e7e7e7;
    background: rgb(242,241,241); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,241,241,1) 6%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,rgba(242,241,241,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,241,241,1) 6%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,241,241,1) 6%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,241,241,1) 6%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(242,241,241,1) 6%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f1f1', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.sw-registration-submit-button {
    float: right;
    top: 270px;
    margin-right: 40px;
}

.sw-registration-cancel-button {
    margin-left: 340px;
    top: 270px;
}

.sc-label-view.sw-registration-header-view {
    font-size: 22px;
    color: #969595;
    text-align: center;
    margin-top: 20px;
}

.sw-registration-form-input {
    float: left;
    margin-left: 50px;
    margin-top: 15px;
}

.sw-registration-form-input-left-column {
    margin-left: 43px;
}
