/* ==========================================================================
*  Project:   SoundwaveTheme Theme Styles
*  Copyright: @2013 The Code Boutique, LLC.
*  ==========================================================================
*/

.sc-label-view.soundwave-text-soundboard {
    color: rgb(216, 216, 216);
    font-size: 72px;
    margin-bottom: 8px;
    float: right;
}