.tcb-picker-pane {
  background: sc_static('images/picker_pane.png');
  background-repeat: no-repeat;
}

.sc-pane.sc-panel > .sc-view.tcb-picker-pane-contentview {
  background-color: lightgreen;
  border-radius: 10px;
}